/* type colors */

/* dark foreground */
.type,
.no-effect {
  color: #fcfcfc;
}

/* light forground */
.normal,
.electric,
.grass,
.ice,
.ground,
.flying,
.steel,
.fairy {
  color: #212121;
}

.steel {
  --type: #9eb7b8;
}
.psychic {
  --type: #f366b9;
}
.water {
  --type: #4592c4;
}
.rock {
  --type: #a38c21;
}
.poison {
  --type: #b97fc9;
}
.normal {
  --type: #a4acaf;
}
.ice {
  --type: #51c4e7;
}
.ground {
}
.ground {
  --type: #f7de3f;
}
.grass {
  --type: #9bcc50;
}
.ghost {
  --type: #7b62a3;
}
.flying {
  --type: #3dc7ef;
}
.fire {
  --type: #fd7d24;
}
.fighting {
  --type: #d56723;
}
.fairy {
  --type: #fdb9e9;
}
.electric {
  --type: #eed535;
}
.dragon {
  --type: #53a4cf;
}
.dark {
  --type: #707070;
}
.bug {
  --type: #729f3f;
}

.type {
  background-color: var(--type);
}

/* other */
.effective {
  background: rgba(240, 240, 240);
}

.super-effective {
  background-color: rgba(8, 161, 231, 0.5);
}

.not-very-effective {
  background-color: rgba(228, 17, 98, 0.5);
}

.no-effect {
  background-color: rgba(13, 13, 13, 0.5);
}
