html {
  font-family: "Montserrat", sans-serif;
  font-weight: 0;
  display: flex;
}

body {
  margin: auto;
}

caption {
  padding: 10px;
  caption-side: bottom;
}

th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

dt {
  float: left;
}

.type-table {
  margin: 10px;
  /*   border-collapse: collapse; */
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 1rem;

  text-align: center;

  width: 90vw;
  table-layout: fixed;
}
