@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 0;
  display: flex;
}

body {
  margin: auto;
}

.text-center {
  text-align: center;
}

caption {
  padding: 10px;
  caption-side: bottom;
}

.type-table {
  margin: 10px;
  /*   border-collapse: collapse; */
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 1rem;

  table-layout: fixed;
  width: 90vw;
  white-space: nowrap;
}